body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url(bg_pic.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    margin-left: 3rem;
    transform: translateY(-1rem);
}
.calculator{
    width: 32rem;
    height: 34.5rem;
    background-color: rgb(66, 64, 64);
    margin-left: 27rem;
    margin-top: -2.1rem;
    /* transform: translateY(-2.1rem); */
    border-radius: 2.6rem;
}
.input{
    width: 27rem;
    height: 5rem;
    background-color: white;
    margin-left: 2.3rem;
    transform: translateY(1rem);
    border-radius: 1rem;
    font-size: 27px;
    border: 2px solid black;
}
.first-row{
    width: 29rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
}
.first-row button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 0.89rem;
    border:2px solid black;
}
.first-row button:hover{
    opacity: 0.9;
    cursor:pointer;
}
.second-row{
    width: 29rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
}
.second-row button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 0.89rem;
    border:2px solid black;
}
.second-row button:hover{
    opacity: 0.9;
    cursor:pointer;
}
.third-row{
    width: 29rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
}
.third-row button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 0.89rem;
    border:2px solid black;
}
.third-row button:hover{
    opacity: 0.9;
    cursor:pointer;
}
.fourth-row{
    width: 29rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
}
.fourth-row button{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 0.89rem;
    border:2px solid black;
}
.fourth-row button:hover{
    opacity: 0.9;
    cursor:pointer;
}
.fifth-row{
    width: 29rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.fif{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: 0.89rem;
    border:2px solid black;
    transform: translate(0.4rem);
}
.fif:hover{
    opacity: 0.9;
    cursor:pointer;
}
.fifth-one{
    width: 12rem;
    height: 6rem;
    border-radius: 50%;
    border: 2px solid black;
}
.fifth-one:hover{
    opacity: 0.9;
    cursor:pointer;
}
.com{
    background-color: orangered;
}

@media (max-width:600px){
    .calculator{
        background-color: chartreuse;
    }
}